@mixin button-base() {
  min-width: unset;
  overflow: visible;
  border: 1px solid transparent;
  line-height: var(--mat-button-text-label-line-height);
  height: unset !important;
  padding: 0 10px;
  border-radius: var(--radius);
  transition: var(--transition);
  box-shadow: none;
  outline: none;
  appearance: none;
  text-align: center;
  display: block;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  background: unset;
}

.mdc-button {

  &.mat-mdc-button {
    --mat-button-text-label-line-height: var(--control-height);
    --mat-button-text-horizontal-padding: 10px;
    --mat-button-text-container-height: unset;
    --mat-button-text-label-text-size: 10px;
    --mat-button-text-label-text-transform: none;
    --mat-button-text-label-text-weight: 400;

    @include button-base();
  }

  .mdc-button__ripple, .mat-ripple {
    display: none;
  }

  .mdc-button__label {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &.mat-mdc-button {
    --mat-button-text-label-text-color: hsl(var(--primary) / 1);
    background-color: transparent;
    border-color: transparent;

    &:not([disabled]) {
      cursor: pointer;
      background-color: hsl(var(--input) / 1);

      &:hover {
        background-color: var(--color-surface-2-hover);
      }

      &:active {
        background-color: var(--color-surface-2-focus);
      }
    }

    &[disabled] {
      color: hsl(var(--muted-foreground) / 1);
    }
  }

  &.mat-warn {

    &:not([disabled]) {
      &:hover {
        background-color: hsl(var(--destructive) / 1);
      }

      &:active {
        background-color: hsl(var(--destructive) / 1);
      }
    }
  }

  &.mat-mdc-button-base {
    --mat-button-text-label-line-height: 14px;
    --mat-button-text-label-text-transform: uppercase;
    padding: 2px 8px;

    &.icon-button {
      padding: 2px;
    }
  }
}



